<div class="vh-100">
    <div class="container py-5 h-100">
            <button id="zapocni" [hidden]="ucitano" (click)="pocniKviz()">Započni kviz</button>
        <div class="app" *ngIf="ucitano">
            <h3>{{trenutnoPitanje + 1}}. {{listaPitanja[trenutnoPitanje].pitanje}}</h3>
            <div class="option"  *ngFor="let option of listaPitanja[trenutnoPitanje].opcije">
            <button class="btn" [ngClass]="{'correct':option.isSelected && option.tocno,
            'incorrect':option.isSelected && !option.tocno}" (click)="selectOption(option)">{{option.odgovor}}</button>
        </div>

        <button class="dalje" (click)="iducePitanje()">Dalje</button>
    </div>
    </div>
</div>


      


