
<!-- The sidebar -->
<div class="sidebar">
  <a class="active" [routerLink]="['/admin-panel']" routerLinkActive="router-link-active">Home</a>
  <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
  <a [routerLink]="['/api-call']" routerLinkActive="router-link-active">Api JSON</a>
  <a [routerLink]="['/pitanja']" routerLinkActive="router-link-active">Kviz</a>
  <a [routerLink]="['/registracija']" routerLinkActive="router-link-active">Registracija</a>
 
</div>

<!-- Page content -->

<div class="content">
  <div class="container" >
  
    <!-- Navigacija i forma -->
  
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" style="border-radius: 0.5rem;">
          <div class="container-fluid">
            <h3 class="navbar-brand">Korisnici</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <h5 class="nav-link active "id="dodaj"(click)="prikaziFormu()">Dodaj Korisnika</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" id="odjava" [routerLink]="['/prijava']" routerLinkActive="router-link-active">Odjava</a>
                </li>
              </ul>
              
          </div>
          </div>
        </nav><hr>
        <!-- Forma -->
        <div *ngIf="dodajem == 1 || uredjujem == 1" class="unos">
          <form class="form"[formGroup]="korisnik" (ngSubmit)="upravljanjeKorisnikom(korisnik)">
            <input type="text" class="form-control" id="ime" placeholder="Ime i prezime" formControlName="ime">      
            <input type="text" class="form-control" id="god_rodenja" placeholder="Godina rođenja" formControlName="god_rodenja">             
            <input type="text" class="form-control" id="E-mail" placeholder="E-mail" formControlName="email">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="UrlChoice()">
              <label class="form-check-label" for="flexRadioDefault1">
                Unesite url
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked (click)="Upload()">
              <label class="form-check-label" for="flexRadioDefault2">
                Prenesite datoteku
              </label>
            </div>
            <div *ngIf="upload == 1">
            <input id="file-input" type="file" accept="image/*" (change)="UploadPriprema($event)" multiple>
          </div>
          <div *ngIf="url == 1">
            <input type="text" class="form-control" id="slika" placeholder="Url slike" formControlName="slika">
          </div>
            <div class="col col-lg-2 col-md-2">
              <div id="input_container">
                <button *ngIf="dodajem == 1" type="submit" class="btn btn-success btn-md" [disabled]="!korisnik.valid">Dodaj</button>
                <button *ngIf="uredjujem == 1" type="submit" class="btn btn-success btn-md">Uredi </button>
              </div>
            </div>
          </form>
        </div>
      
    
    
    <!-- Tablica -->
    <div class="panel-heading">Ukupno korisnika: {{brojKorisnika}}</div>
      <div class="panel-body">
        <form>
          <div>
            <table class="table table-hover responsive">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Ime i Prezime</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Uloga</th>
                  <th class="tablica text-center" scope="col">Uredi | Obriši</th>
                </tr>
              </thead>
              <tbody>
                <th scope="row"></th>
                <tr *ngFor="let korisnik of korisnici">
                  <td>{{korisnik.id}}.</td>
                  <td>{{korisnik.ime_prezime}}</td>
                  <td><a href="mailto:">{{korisnik.email}}</a></td>
                  <td>{{korisnik.uloga}}</td>
                  
                  <td class="tablica text-center">
                    <button class="btn btn-info btn-sm" (click)="urediKorisnikaTablica(korisnik, korisnik.id)">Uredi</button>
                    <button class="btn btn-danger btn-sm" (click)="obrisiKorisnika(korisnik)">Obriši</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      

  
  




