.unos {
  
    
}
#input_container {
    margin-top: 5px;
}
.container {
    margin-top: 5px;
}
.table::-webkit-scrollbar {
    display: none;
}
.form-control{
    display: inline;
}

#ime{
    width: 25%;
    display: inline-flex;
    margin-right: 5px;
}
#god_rodenja{
    width: 25%;
    display: inline-flex;
    margin-right: 5px;
}
#E-mail{
    width: 25%;
    display: inline-flex;
    margin-right: 10px;
    position: relative;
}
#file-input{
    
}