<div class="container">

  <form  class="mt-3" (ngSubmit)="addUser()" ngNativeValidate>
      <div class="form-row">
          <div class="form-group col-md-5">
              <input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name" [(ngModel)] = 'user.firstName' required />
          </div>
          <div class="form-group col-md-5">
              <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name" [(ngModel)] = 'user.lastName' required />
          </div>
          <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary">Save User</button>
          </div>
      </div>
  </form>

  <div class="table-responsive-sm">
      <table class="table">
          <thead>
              <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
              </tr>
          </thead>
          <tbody>              
              <ng-container *ngFor="let u of _users.reverse(); let i = index">
              <tr>
                  <td>{{ u.firstName }}</td>
                  <td>{{ u.lastName }}</td>
                </tr>
            </ng-container>
          </tbody>          
      </table>
    </div>    

</div>

<div class="container">
  <div class="row">
    <table class="table border" style="width: 50%;">
      <thead>
        <tr>
          <td>Album ID</td>
          <td>ID</td>
          <td>Title</td>
          <td>ThumbnailUrl</td>
        </tr>
      </thead>
      <tbody *ngFor="let album of podaci">
        <tr>
          <td>{{album.albumId}}</td>
          <td>{{album.id}}</td>
          <td>{{album.title}}</td>
          <td><img src="{{album.thumbnailUrl}}" (click)="prikazSlike(album)"></td>

        </tr>
        
      </tbody>
    </table>
  </div>
</div>
  