<section class="vh-100">
    <div class="container py-5 h-200">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 2rem;">
            <div class="card-body p-5 text-center">

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Igrač</th>
        <th scope="col">Broj bodova</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table>
</div>
            </div>
          </div>
        </div>
      </div>
    
</section>