<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    
    <div class="container">
    <h3>Choose category you want from dropdown:</h3>
    <div class="dropdown">
        <select class="dropbtn">
        <option>Select category</option>
        </select>
        <div class="dropdown-content">
            <a (click)="fetchRandomQuestion(9)">General Knowledge</a>
            <a href="#">2</a>
            <a href="#">3</a>
        </div>
    </div>
        
        <table>
                <tr  *ngFor="let pitanje of pitanja">{{pitanje.question}} <hr></tr>
            
    
    
        </table>

    </div>
</body>
</html>