<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 2rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Sign Up</h3> 
              <form [formGroup]="user" (ngSubmit)="posaljiPodatke()">
                <label class="form-label" for="ime_prezime"></label>
                <input type="text" formControlName="ime_prezime" id="ime" class="form-control form-control-lg" placeholder="Ime i prezime" required>

                <label class="form-label" for="typeEmailX-2"></label>
                <input type="text" formControlName="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="E-mail" required>

                <label class="form-label" for="typePasswordX-2"></label>
                <input id="lozinka" type="password" formControlName="lozinka" placeholder="Lozinka" id="typePasswordX-2" class="form-control form-control-lg">
                <p>Unesite podatke</p>
                <button type="submit" [disabled]="!user.valid" class="btn btn-success pull-right"style="margin-top: 5px;">Registriraj se</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>